$primary-color: #0081a7;
$secondary-color:#fdfcdc ;
$background-color: #fdfcdc;
$shadow-color: rgba(0, 0, 0, 0.1);
$input-border-color: #cccccc;
$button-color: #0081a7;
$button-hover-color: darken(#0081a7, 10%);
$button-back-color: #dc3545;
$button-back-hover-color: darken(#dc3545, 10%);
$card-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$modal-bg-color: rgba(0, 0, 0, 0.5);
$card-bg-color: #ffffff;
$card-border-color: #cccccc;
$btn-view-color: #007bff;
$btn-delete-color: #dc3545;
$modal-content-bg-color: #ffffff;